{% extends 'base.html' %}


{% block content %}

{% include 'includes/navbar.html' %}


<div class="columns is-mobile mt-5">
    <div class="column is-4 is-offset-4">
        <h2>Edit profile</h2>
        <br>
        <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="field">
                <label class="label">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <div class="field">
                <p class="control">
                <button type="submit" class="button is-success">
                    Submit
                </button>
                </p>
            </div>
        </form>
    </div>
</div>

    
{% endblock content %}


    